*{
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;

}
.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;

}
.about img{
    height: auto;
    width: 400px;
    

}
.about-text{
    width: 550px;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h1{
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text p{
      color: #fcfc;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin:0px auto;
    display: flex;
    align-items:center;
    justify-content:space-around ;
}
img{
    border-radius: 150px;
}